h1 {
	font-family: avenir, helvetica;
	font-size: 65;
	color: #bc1b3a;
	text-transform: uppercase;
	width: 1250px;
	padding: 25px;
	text-align: center;
	float: center;
	background-color: #f3c831;
	position: fixed;
}

h3{
	display: inline;
}

.maintext {
	color: blue;
	font-family: avenir, helvetica;
	background: yellow;
}

ul{
	display: inline-block;
}


li {
	color: #244e88;
	width: 175px;
	list-style-type: none;
	text-transform: uppercase;
	font-family: avenir;
	background-color: #f59159;
	padding: 15px;
	margin: 15px 0px 0px 0px;
}

li:hover  { 
	background-color: #bc1b3a;
}

.top{
	 height: 60px;
	 width: 1250px;
}

.img1{
float: right;
margin: 0px 500px 0px 0px;
}