h1 {
	font-family: avenir, helvetica;
	font-size: 65;
	color: #bc1b3a;
	text-transform: uppercase;
	width: 1200px;
	padding: 25px;
	text-align: center;
	float: center;
	background-color: #f3c831;
}

ul {
	list-style-type: none;
	margin: 0px 0px 15px 0px;
	float: left;
	background-color: #bc1b3a;
	float: center;
	padding: 10px;

}

li{
	display: inline;
	margin: 25px;
	padding: 15px;
	text-transform: uppercase;
	font-family: avenir;
	color: #f2ddd0;

	}

li:hover  { 
	color: #f3c831;
}

div{
	background-color: #f59159;
	padding: 25px;
}

img {
	margin: 0px 0px 0px 350px;
}

p.title{
	font-size: 65px;
	font-family: avenir;
	text-transform: uppercase;
	text-align: center;
	color: #f2ddd0;
	background-color: #069976;
	padding: 100px 0px 100px 0px;
	marign-top:0px;
}

div.counter{
	
	background-color: #f3c831;
	font-size: 35px;
	color: #bc1b3a;
	text-align: center;
	font-family: avenir, helvetica;
	max-height: 375px;
	padding: 25px;

}