h1 {
	font-family: avenir, helvetica;
	font-size: 65;
	color: #bc1b3a;
	text-transform: uppercase;
	width: 1200px;
	padding: 25px;
	text-align: center;
	float: center;
	background-color: #f3c831;
}



.maintext {
	color: blue;
	font-family: avenir, helvetica;
	background: yellow;
}


p {
	font-family: avenir;
	float: left;
	width: 200px;
}

.img1{
float: left;
margin-right: 15px;
}

ul{
	margin: 15px 0px 15px 0px;
	float: left;
	display: inline-block;
}


li {
	display: block;
	color: #244e88;
	list-style-type: none;
	text-transform: uppercase;
	font-family: avenir;
	background-color: #f59159;
	padding: 15px;
	width: 175px;
	margin: 15px 15px 0px 0px;
}

li:hover  { 
	background-color: #bc1b3a;
}
