p{
	height: 453px;
	width: 610px;
	font-size: 100px;
	color: #f2ddd0;
	text-transform: uppercase;
	font-family: avenir;
	padding: 50px 50px 50px 50px;
	float: right;
	background-color: #069976;
	margin-left: 350px;

}

div{
	background-color: #f2ddd0;
	max-width:1500px;
	margin: 0px;
}


h1 {
	font-family: avenir, helvetica;
	font-size: 65;
	color: #bc1b3a;
	text-transform: uppercase;
	width: 1200px;
	padding: 25px;
	text-align: center;
	float: center;
	background-color: #f3c831;
}

img.pic2{ 
	margin: 15px 0px 0px 80px;
}

img.pic1{
	margin: 15px 0px 25px 80px;
	padding: 0px 0px 25px 0px;
}

img.pic3{
	margin: 35px 0px 0px 80px;
}

img.pic4{
	margin: 15px 0px 0px 80px;

}

div.toptext{
	float: right;
	width: 715px;
	height: 15px;
	margin: 0px 80px 0px 0px;
}

.toptext2{
	background-color: #f2ddd0;
	float: left;
	width: 715px;
	height: 375px;
	margin: 0px 80px 0px 0px;
}


ul {
	list-style-type: none;
	margin: 0px 0px 15px 0px;
	float: left;
	background-color: #bc1b3a;
	float: center;
	padding: 10px;


}

li{
	display: inline;
	margin: 25px;
	padding: 15px;
	text-transform: uppercase;
	font-family: avenir;
	color: #f2ddd0;

	}

li:hover  { 
	color: #f3c831;
}


