* { margin: 0; padding: 0; }

.button-1 {
	margin: 25px 25px 25px 400px;
	width: 100px;
	height: 100px;
}

.button-2 {
	margin: 25px;
	width: 100px;
	height: 100px;
}

.button-3 {
	margin: 25px;
	width: 100px;
	height: 100px;
}

.button-4 {
	margin: 25px 25px 25px 400px;
	width: 100px;
	height: 100px;
}

.button-5 {
	margin: 25px;
	width: 100px;
	height: 100px;
}

.button-6 {
	margin: 25px;
	width: 100px;
	height: 100px;
}

.button-7 {
	margin:25px 25px 25px 400px;
	width: 100px;
	height: 100px;
}

.button-8 {
	margin: 25px;
	width: 100px;
	height: 100px;
}

.button-9 {
	margin: 25px;
	width: 100px;
	height: 100px;
}

.button-10 {
	margin: 25px 25px 25px 425px;
	width: 150px;
	height: 150px;
}

.button-11 {
	margin: 25px;
	width: 150px;
	height: 150px;
}