*{
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

.box{
	width:100%;
	height:100%;
}

.image{
	width: 100%;
	height:100%;
}

/* Slide no. 1 */

.image1{
	background: url("img/slide1.jpg") no-repeat;
	background-size: cover;
}

.image1text1{
position: relative;
top: 175px;
left: 50px;
color: black;
font-family: avenir, helvetica;
font-size: 25px;
text-shadow: 1px 1px 0px #000000;
}

.image1text2{
position: relative;
top: 185px;
left: 50px;
color: #fd0650;
font-family: avenir, helvetica;
font-size: 65px;
text-shadow: .5px .5px 0px #000000;
}

.image1text3{
position: relative;
top: 195px;
left: 50px;
color: black;
font-family: avenir, helvetica;
font-size: 25px;
text-shadow: 1px 1px 0px #000000;
}



/* Slide no. 2 */

.image2{
	background: url("img/slide2.jpg") no-repeat;
	background-size: cover;
}

.image2text1{
position: relative;
top: 210px;
left: 100px;
color: #fd0650;
font-family: avenir, helvetica;
font-size: 45px;
}

.image2text2{
position: relative;
top: 220px;
left: 150px;
color: #feebcb;
font-family: avenir, helvetica;
font-size: 65px;
}

/* Slide no. 3 */
.image3{
	background: url("img/slide3.jpg") no-repeat;
	background-size: cover;
}

.image3text1 {
	position: relative;
	top: 200px;
	left: 700px;
	font-size: 45px;
	font-family: avenir, helvetica;
	color: #feebcb;
}

.image3text2 {
	position: relative;
	top: 225px;
	left: 760px;
	font-size: 25px;
	font-family: avenir, helvetica;
	color: #feebcb;
}

.image3text3 {
	position: relative;
	top: 175px;
	left: 700px;
	font-size: 25px;
	font-family: avenir, helvetica;
	color: #feebcb;
}

/* footer */
footer{

}


/* Navigation Bar */

.navbar{
background-color: #fd0650;
display: inline;
}

ul {
background-color: #fd0650;
height: 100px;
width: 100%;
position: fixed;
text-align: center;
}

li{
	font-family: avenir, helvetica, times;
	text-transform: uppercase;
	display: inline;
	color: #feebcb;
	padding: 15px 15px 15px 0px;
	margin: 10px;

}

a:hover{
	color: #1eb68c;
}

p{
display: inline;
}

.fullmenu{
color: #fdac36;
font-weight: bold;
}

.over{
	color: black;
	text-decoration: line-through;
	}

a{
	color: #feebcb; 
text-decoration: none;
}