*{
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

.box{
	width:100%;
	height:100%;
}

.image{
	width: 100%;
	height:100%;
}

/* Slide no. 1 */

.image1{
	background: url("img/slide1.jpg") no-repeat;
	background-size: cover;
}

/* Slide no. 2 */

.image2{
	background: url("img/slide2.jpg") no-repeat;
	background-size: cover;
}

/* Slide no. 3 */
.image3{
	background: url("img/slide3.jpg") no-repeat;
	background-size: cover;
}

.image3text1 {
	position: relative;
	top: 200px;
	left: 700px;
	font-size: 45px;
	font-family: avenir, helvetica;
	color: #feebcb;
}

.image3text2 {
	position: relative;
	top: 225px;
	left: 760px;
	font-size: 25px;
	font-family: avenir, helvetica;
	color: #feebcb;
}

.image3text3 {
	position: relative;
	top: 175px;
	left: 700px;
	font-size: 25px;
	font-family: avenir, helvetica;
	color: #feebcb;
}

/* footer */
footer{

}


/* Navigation Bar */

.navbar{
background-color: #fd0650;
display: inline;
}

ul {
background-color: #fd0650;
height: 100px;
width: 100%;
position: fixed;
text-align: center;
}

li{
	font-family: avenir, helvetica, times;
	text-transform: uppercase;
	display: inline;
	color: #feebcb;
	padding: 15px 15px 15px 0px;
	margin: 10px;

}

p{
display: inline;
}

.fullmenu{
color: #fdac36;
font-weight: bold;
}

.over{
	color: black;
	text-decoration: line-through;
	}