.content {
	width: 80%;
	margin: 0 auto;
}

h1{
color: red;
font-family: avenir, helvetica;
font-size: 24px;
background: yellow;
padding: 15px;
}

.background{
	padding:15px;
}

.background1{
	padding:15px;
}

.background2{
	padding:15px;
}

.background3{
	padding:15px;
}

.background4{
	padding:15px;
}

.background5{
	padding:15px;
}

.background6{
	padding:15px;
}

.background7{
	padding:15px;
}